@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Volkhov:wght@700&display=swap');

* {
    font-family: 'Poppins';
	padding: 0px;
	margin: 0px;
	border: none;
}

header, main, footer {
    margin: 0 auto;
    width: 100%;
}

header {
    height: 810px;
    width: 100%;
    background-image: url(/images/Decore1.png);

    background-position: 0px 0%;
    background-size: 100% 80%;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container>h1, .container>h3 {
    text-align: center;
}



.main_menu {
    /* position: sticky;
    left: 0;
    top: 0; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80px;
    /* background-color: rgba(240, 248, 255, 0.323); */

    margin: 0 auto;
    z-index: 999;
}

.main_menu div:last-child {
    padding-right: 30px;
}

.main_text {

    width: 50%;
    height: 630px;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
}

.main_text h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #DF6951;
}

.main_text h1 {
    font-family: 'Volkhov';
    font-size: 4rem;
    color: #181E4B;
}

.main_text p {
    font-family: 'Poppins';
    color: #5E6282;
    font-weight:500;
    font-size: 0.8em;
    width: 70%;
    /* word-spacing: 0.7rem; */
}

.find_out_more_button {

    background-color: #F1A501;
    width: 170px;
    height: 60px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
    transition: box-shadow 1s;
}

.play_demo_button {
    width: 170px;
    height: 60px;
    background-color: #ffffff;
    color: #686D77;
    background-image: url(/images/Play_button.svg);
    background-position: 10px 4px;
    background-repeat: no-repeat;
    text-align: right;
    padding: 1rem;
    border-radius: 3rem;
    transition: box-shadow 1s;
}

.find_out_more_button:hover {
    background-color: #f6a902;
    box-shadow: 0px 3px 6px rgba(255, 201, 40, 0.764);
}

.play_demo_button:hover {
    box-shadow: 0px 3px 6px rgba(255, 0, 0, 0.100);
}

.button {
    color: black;
    padding: 10px 20px;
    background: none;
}

.button:hover {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

.first-section {
    max-width: 1080px;
    height: 780px;
}

.logo {
    width: 115px;
    margin-right: 10rem;
}

.photo_traveller {
    position: absolute;
    background-size: 60%;
    left: 40%;
    top: 10%;
    width: 43%;
    z-index: 2;
}

.pic_planner1, .pic_planner2 {
    position: absolute;
}

.pic_planner1 {
    left: 45%;
    top: 15%;
}

.pic_planner2 {
    left: 74%;
    top: 17%;
    z-index: 1;
}

/* .background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
} */

main {
    
}

main>.container:first-child  {
    width: 70%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: left;
    justify-content: center;
}

ul {
    display: flex;
}

ul li {
	display:block;
	width:120px;
	float:left;
    text-align: center;
	margin-left:2px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    padding-bottom: 10px;
}

/* ANCHOR Best Services */

.container h1 {
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
}

.list_services {
    font-family: 'Poppins';
    display: flex;
    justify-content: space-evenly;

    
    
}

.list_services>div {
    text-align: center;
}

.icon {
    display: flex;

    justify-content: center;
}

.list_item {
    padding-top: 4rem;
    background-color: white;
    max-width: 200px;

    border-radius: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;

    

    transition: box-shadow 0.3s, border 0.3s;
}

.list_item:hover {
    border: 1px solid rgba(128, 128, 128, 0.584);
    box-shadow: 0px 2px 3px grey;
}

.list_item:nth-child(2) {
    padding-top: 2rem;
}


.list_item:not(:nth-child(2)) img {
    padding-bottom: 3.5rem;
}

.list_services img {
    /* position: absolute;
    top: 50%;
    left: 50%; */
}

/* .list_services .setting_icon {
}

.list_services .micro_icon {
}

.list_services .weather_icon {
    left: 105px;
    top: 110px;
} */

.list_services .plane_icon {
    /* width: 3rem; */
}

.services {
    height: 530px;
}

.services h1{
    margin-bottom: 2rem;
}


.list_services div h3 {
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #1E1D4C;
}